mixin _template(data)

	extends _template

	block head
		+head(head.index)

	block header

	header.main-head
		+header()

	block content
		.main-content
			.container
				h1 index.html block content

	block footer
		footer.main-footer
			+footer()
